@import '../base/variables';

/* ---------------------------------------------------
    NAVBAR
----------------------------------------------------- */
.navbar {
  background-color: var(--theme-surface) !important;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  transition: $transition-cubic-bezier;
  box-shadow: $shadow-2dp;
  z-index: 999;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--theme-primary);
  font-family: $font-poppins;
}

.navbar .navbar-brand {
  color: var(--theme-primary);
  font-family: $font-poppins;
  font-weight: bold;

  &:hover {
    color: var(--theme-primary-hover);
  }

  &:focus,
  &:active {
    color: var(--theme-primary-active);
  }
}

.navbar a {
  color: var(--theme-on-primary);

  &:hover {
    // background-color: #bebebe1c;
    border-radius: $border-radius-8;
  }

  &:focus,
  &:active {
    color: var(--theme-primary) !important;
  }
}

.footer h6 {
  color: var(--theme-on-primary-inverse);
}